.page-header{data: {action: 'subarticles-close', year: params[:year]}}
  .pull-right
    %button{type: 'button', class: 'btn btn-default sa-close', style: 'display: none;'}
      %span.glyphicon.glyphicon-remove
      Cerrar
  %h2 Subartículos

%table.table.table-striped.table-condensed
  %thead
    %tr
      %th.text-center
        = check_box_tag 'sa_all', '0', false, class: 'checkbox-close-all'
      %th Código
      %th Descripción
      %th Stock
  %tbody
    - @subarticles.each do |subarticle|
      %tr{id: dom_id(subarticle)}
        %td.text-center
          = check_box_tag "subarticle_#{subarticle.id}", subarticle.id, false, class: 'checkbox-close'
        %td= subarticle.code
        %td= subarticle.description
        %td= subarticle.stock
    - if @subarticles.length == 0
      %tr
        %td{colspan: 4} No hay subartículos para cerrar.

#confirm-modal

%script{ id: 'select-date-tpl', type: 'text/html' }
  .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id: "modal-subarticle-close"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} &times;
          %h4.modal-title {{{title}}}
        .modal-body
          = form_tag "{{url}}", class: 'form-horizontal' do
            .form-group
              %label.col-sm-2.control-label Fecha
              .col-sm-10
                = text_field_tag "select_date", I18n.l(Date.today), class: 'form-control date'
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"}
            %span.glyphicon.glyphicon-ban-circle
            = t('general.btn.cancel')
          %button.btn.btn-primary{type: 'button', id: 'btn-close-subarticles'}
            %span.glyphicon.glyphicon-floppy-disk
            = t('general.btn.save')
