.title_pdf
  %h3= t("#{controller_name}.title.title")

%table.table.table-condensed.table-bordered
  %thead
    %tr
      %th= Subarticle.human_attribute_name('code')
      %th= Subarticle.human_attribute_name('description')
      %th= Subarticle.human_attribute_name('unit')
      %th= Subarticle.human_attribute_name('barcode')
      %th= Subarticle.human_attribute_name('article')
      %th= Auxiliary.human_attribute_name('status')
  %tbody
    - @array.each do |subarticle|
      %tr
        %td= subarticle.code
        %td= subarticle.description
        %td= subarticle.unit
        %td= subarticle.barcode
        %td= subarticle.article_name
        %td= type_status(subarticle.status)
