.page-header
  .pull-right
    = link_to @subarticle, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-arrow-left
      Atrás
    = link_to subarticle_path(@subarticle, format: :pdf), class: 'btn btn-info' do
      %span.glyphicon.glyphicon-print
      Imprimir
    = link_to subarticles_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list
      Subartículos

  %h3.kardex-inventory
    .title KARDEX DE INVENTARIOS
    .title GESTION 2014

  #request-urls{data: {'request-id' => request_path('{id}'), 'subarticles-articles' => articles_subarticles_path(format: :json), 'get-subarticles' => get_subarticles_subarticles_path(format: :json, q: '%QUERY'), 'subarticles-verify-amount' => verify_amount_subarticle_path('{id}'), 'users-id' => user_path('{id}', format: :json)}}

%dl.dl-horizontal
  %dt DESCRIPCION:
  %dd= @subarticle.description.upcase
  %dt Nº CODIGO:
  %dd= @subarticle.code

%table.table.table-bordered
  %thead
    %tr.vertical-align
      %th.text-center{rowspan: 2} FECHA
      %th.text-center{rowspan: 2} Nº DE FACTURA
      %th.text-center{rowspan: 2} Nº DE PEDIDO MAT
      %th.text-center{rowspan: 2} DETALLE
      %th.text-center{colspan: 3} CANTIDADES
      %th.text-center{rowspan: 2} COSTO UNITARIO
      %th.text-center{colspan: 3} IMPORTES EN BOLIVIANOS
    %tr
      %th ENTRADAS
      %th SALIDAS
      %th SALDOS
      %th ENTRADAS
      %th SALIDAS
      %th SALDOS
  %tbody
    %tr.info{style: 'font-weight: bold;'}
      %td.text-center 01/01/2013
      %td.text-center 0
      %td.text-center 0
      %td SALDO INICIAL
      %td.text-center 0
      %td.text-center 0
      %td.text-center 9
      %td.number 31.50
      %td.number 0.00
      %td.number 0.00
      %td.number 283.50
    %tr
      %td.text-center 01/01/2013
      %td.text-center 0
      %td.text-center 0
      %td RUFINA VALERIANA CASILLA MAMANI-TECNICO EN FACTURACION Y COBRANZAS
      %td.text-center 0
      %td.text-center 0
      %td.text-center 9
      %td.number 31.50
      %td.number 0.00
      %td.number 0.00
      %td.number 283.50
    %tr
      %td.text-center 01/01/2013
      %td.text-center 0
      %td.text-center 0
      %td SALDO INICIAL
      %td.text-center 0
      %td.text-center 0
      %td.text-center 9
      %td.number 31.50
      %td.number 0.00
      %td.number 0.00
      %td.number 283.50
    %tr
      %td.text-center 01/01/2013
      %td.text-center 0
      %td.text-center 0
      %td SALDO INICIAL
      %td.text-center 0
      %td.text-center 0
      %td.text-center 9
      %td.number 31.50
      %td.number 0.00
      %td.number 0.00
      %td.number 283.50
    %tr.info{style: 'font-weight: bold;'}
      %td.text-center 31/12/2013
      %td.text-center 0
      %td.text-center 0
      %td SALDO FINAL
      %td.text-center 0
      %td.text-center 0
      %td.text-center 9
      %td.number 31.50
      %td.number 0.00
      %td.number 0.00
      %td.number 283.50