.page-header
  .pull-right
    = link_to edit_subarticle_path(@subarticle), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-edit
      = t("general.btn.edit")
    = link_to subarticle_kardexes_path(@subarticle), class: 'btn btn-info' do
      %span.glyphicon.glyphicon-list-alt
      Kardex
    = link_to subarticles_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list
      = t("subarticles.title.title")

  %h2
    %span.text-muted= @subarticle.code
    = @subarticle.description
    %small
      - if @subarticle.esta_activo?
        .label.label-success= type_status(@subarticle.status)
      - else
        .label.label-warning= type_status(@subarticle.status)


%dl.dl-horizontal
  %dt= Subarticle.human_attribute_name('unit')
  %dd= @subarticle.unit
  %dt= Subarticle.human_attribute_name('article')
  %dd= link_to_if @subarticle.article, @subarticle.article_name, @subarticle.article, title: @subarticle.article_code
  %dt= Subarticle.human_attribute_name('stock')
  %dd= number_with_delimiter @subarticle.stock, 0
  %dt= Subarticle.human_attribute_name('minimum')
  %dd= @subarticle.minimum
  %dt= Subarticle.human_attribute_name('barcode')
  %dd= @subarticle.barcode

%h3
  Kardex
  %span.text-muted desde
  %strong #{params[:desde]}
  %span.text-muted hasta
  %strong #{params[:hasta]}
  .pull-right
    %form.form-inline
      .form-group
        %label.sr-only{for: 'fecha-desde'} Desde
        = text_field_tag :desde, params[:desde], class: 'form-control fecha-buscador', id: 'fecha-desde', placeholder: 'Desde fecha'
      .form-group
        %label.sr-only{for: 'fecha-hasta'} Hasta
        = text_field_tag :hasta, params[:hasta], class: 'form-control fecha-buscador', id: 'fecha-hasta', placeholder: 'Hasta fecha'
      %button{type: 'submit', class: 'btn btn-primary'}
        %span.glyphicon.glyphicon-search

- saldo = 0
- saldo_bs = 0
%table.table.table-hover.table-striped.table-condensed.table-bordered
  %thead
    %tr
      %th #
      %th.text-center Fecha
      %th.text-center Factura
      %th.text-center Nota Entrega
      %th.text-center Nro Pedido
      %th.col-md-4 Detalle
      %th.number Cantidad
      %th.number Saldo
      %th.number Costo unitario
      %th.number Saldo Bs
      %th.text-center Tipo
      %th.text-center.col-md-1 Creado el
      %th
  %tbody
    - if @transacciones.empty?
      %tr
        %td.text-center{colspan: 13}
          .text-primary No hay ningún registro para mostrar.
          .text-info Intente seleccionando otro rango de fechas.
    - @transacciones.each_with_index do |transaccion, index|
      %tr
        %td{title: transaccion.id}= index
        %td.text-center= l transaccion.fecha, format: :default if transaccion.fecha
        %td.text-center= transaccion.factura
        %td.text-center= l transaccion.nota_entrega, format: :default if transaccion.nota_entrega.present?
        %td.text-center= transaccion.nro_pedido
        %td= transaccion.detalle
        %td.number
          - if !transaccion.saldo_inicial? || index > 0
            = transaccion.cantidad
        %td.number
          = saldo + transaccion.cantidad
          - saldo += transaccion.cantidad
        %td.number= number_with_delimiter(transaccion.costo_unitario)
        %td.number
          = number_with_delimiter(transaccion.costo_unitario * saldo)
          - saldo_bs += transaccion.costo_unitario * saldo
        %td.text-center
          - if transaccion.saldo_inicial?
            %em -
          - elsif transaccion.tipo == 'entrada'
            = link_to transaccion.tipo.capitalize, note_entry_path(transaccion.modelo_id)
          - else
            = link_to transaccion.tipo.capitalize, request_path(transaccion.modelo_id)
        %td.text-center= l transaccion.created_at, format: :version if transaccion.created_at
        %td
          - if transaccion.tipo == 'entrada'
            = link_to edit_entry_subarticle_path(transaccion.id), class: 'btn btn-primary btn-xs', title: 'Editar' do
              %span.glyphicon.glyphicon-edit
  %tfoot
    %tr
      %th
      %th.number{colspan: 5} TOTAL
      %th.number{colspan: 2}= saldo
      %th.number{colspan: 2}= number_with_delimiter(saldo_bs)
      %th{colspan: 3}
