.page-header
  .pull-right
    = link_to edit_subarticle_path(@subarticle), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-edit
      = t("general.btn.edit")
    = link_to subarticles_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list
      = t("subarticles.title.title")

  %h2 Sub Artículo

%dl.dl-horizontal
  %dt= Subarticle.human_attribute_name('code')
  %dd= @subarticle.code
  %dt= Subarticle.human_attribute_name('description')
  %dd= @subarticle.description
  %dt= Subarticle.human_attribute_name('unit')
  %dd= @subarticle.unit
  %dt= Subarticle.human_attribute_name('article')
  %dd= link_to_if @subarticle.article, @subarticle.article_name, @subarticle.article, title: @subarticle.article_code
  %dt= Subarticle.human_attribute_name('amount')
  %dd= @subarticle.amount
  %dt= Subarticle.human_attribute_name('minimum')
  %dd= @subarticle.minimum
  %dt= Subarticle.human_attribute_name('barcode')
  %dd= @subarticle.barcode
  %dt= t('general.status')
  %dd= type_status(@subarticle.status)

%h3 Ingresos
%table.table.table-hover
  %thead
    %tr
      %th #
      %th.number= EntrySubarticle.human_attribute_name('amount')
      %th.number= EntrySubarticle.human_attribute_name('unit_cost')
      %th.number= EntrySubarticle.human_attribute_name('total_cost')
      %th.text-center= EntrySubarticle.human_attribute_name('invoice')
      %th.text-center= EntrySubarticle.human_attribute_name('date')
  %tbody
    - @subarticle.entry_subarticles.order("id DESC").each_with_index do |entry, index|
      %tr{ class: new_entry_subarticle(index) }
        %td= index + 1
        %td.number= number_with_precision(entry.amount || 0, precision: 0, separator: ',', delimiter: '.')
        %td.number= number_with_precision(entry.unit_cost || 0, precision: 2, separator: ',', delimiter: '.')
        %td.number= number_with_precision(entry.total_cost || 0, precision: 2, separator: ',', delimiter: '.')
        %td.text-center= entry.invoice
        %td.text-center= l entry.date
