= form_for @note_entry do |f|
  - if @note_entry.errors.any?
    #error_explanation
      %h2= "#{pluralize(@note_entry.errors.count, "error")} prohibited this note_entry from being saved:"
      %ul
        - @note_entry.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :delivery_note_number
    = f.number_field :delivery_note_number
  .field
    = f.label :delivery_note_date
    = f.date_select :delivery_note_date
  .field
    = f.label :invoice_number
    = f.number_field :invoice_number
  .field
    = f.label :invoice_date
    = f.date_select :invoice_date
  .actions
    = f.submit 'Save'
