%h1 Listing note_entries

%table
  %tr
    %th Delivery note number
    %th Delivery note date
    %th Invoice number
    %th Invoice date
    %th
    %th
    %th

  - @note_entries.each do |note_entry|
    %tr
      %td= note_entry.delivery_note_number
      %td= note_entry.delivery_note_date
      %td= note_entry.invoice_number
      %td= note_entry.invoice_date
      %td= link_to 'Show', note_entry
      %td= link_to 'Edit', edit_note_entry_path(note_entry)
      %td= link_to 'Destroy', note_entry, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Note entry', new_note_entry_path
