- unless is_pdf?
  .page-header
    .pull-right
      = link_to note_entry_path(@note_entry, format: :pdf), class: 'btn btn-info' do
        %span.glyphicon.glyphicon-print
        Imprimir PDF
      = link_to note_entries_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list
        = t("note_entries.title.title")

    %h2 Nota de Ingreso

  %dl.dl-horizontal
    %dt Nº
    %dd= @note_entry.id
    %dt= NoteEntry.human_attribute_name('suppliers')
    %dd= @note_entry.supplier_name
    %dt= NoteEntry.human_attribute_name('delivery_note_number')
    %dd
      %span.col-xs-12.col-sm-3.col-md-3.padding-note= @note_entry.note_number(@note_entry.delivery_note_number)
      %b.col-xs-12.col-sm-2.col-md-1.padding-note Fecha
      = @note_entry.note_date(@note_entry.delivery_note_date)
    %dt= NoteEntry.human_attribute_name('invoice_number')
    %dd
      %span.col-xs-12.col-sm.col-md-3.padding-note= @note_entry.note_number(@note_entry.invoice_number)
      %b.col-xs-12.col-sm-2.col-md-1.padding-note Fecha
      = @note_entry.note_date(@note_entry.invoice_date)
    %dt= NoteEntry.human_attribute_name('users')
    %dd= @note_entry.user_name

  %br
  %br

%div{ class: "#{'separator' if is_pdf?}" }
  - if is_pdf?
    .pull-right Nº #{@note_entry.id}
    %h3.text-center.proceeding-title NOTA DE INGRESO ALMACEN

  = render 'entry_subarticles'

  - if is_pdf?
    %br
    %br
    %p
      Recibido por #{@note_entry.user_name} ..................................................................... Firma .......................................................
    %p.proceeding-date
      La Paz, #{ I18n.l(Time.now.to_date, format: :long) }
