- unless is_pdf?
  .page-header
    .pull-right
      = link_to edit_note_entry_path(@note_entry), class: 'btn btn-primary' do
        %span.glyphicon.glyphicon-edit
        = t("general.btn.edit")
      = link_to note_entry_path(@note_entry, format: :pdf), class: 'btn btn-info' do
        %span.glyphicon.glyphicon-print
        Imprimir PDF
      = link_to note_entries_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list
        = t("note_entries.title.title")

    %h2 Nota de Ingreso

  %dl.dl-horizontal
    %dt= NoteEntry.human_attribute_name('suppliers')
    %dd= @note_entry.supplier_name
    %dt= NoteEntry.human_attribute_name('delivery_note_number')
    %dd
      %span.col-xs-12.col-sm-3.col-md-3.padding-note= @note_entry.note_number(@note_entry.delivery_note_number)
      %b.col-xs-12.col-sm-2.col-md-1.padding-note Fecha
      = @note_entry.note_date(@note_entry.delivery_note_date)
    %dt= NoteEntry.human_attribute_name('invoice_number')
    %dd
      %span.col-xs-12.col-sm.col-md-3.padding-note= @note_entry.note_number(@note_entry.invoice_number)
      %b.col-xs-12.col-sm-2.col-md-1.padding-note Fecha
      = @note_entry.note_date(@note_entry.invoice_date)
    %dt= NoteEntry.human_attribute_name('users')
    %dd= @note_entry.user_name

- if is_pdf?
  %h3.text-center.proceeding-title NOTA DE INGRESO ALMACEN

%table.table.table-condensed.table-bordered{ class: "#{is_pdf? ? 'margen' : 'table-striped'}" }
  %thead
    %tr.vertical-align{ class: "#{ 'info' unless is_pdf? }" }
      %th.text-center{rowspan: "2"} CANTIDAD
      %th.text-center{rowspan: "2"} UNIDAD
      %th.text-center{rowspan: "2"} CÓDIGO
      %th.text-center{rowspan: "2"} DETALLE
      %th.text-center{colspan: "2"} IMPORTE
    %tr
      %th.text-center{ class: "#{ 'info' unless is_pdf? }" } UNITARIO
      %th.text-center{ class: "#{ 'info' unless is_pdf? }" } TOTAL
  %tbody
    - @note_entry.entry_subarticles.each do |entry|
      %tr
        %td.text-center= entry.amount
        %td= entry.subarticle_unit
        %td= entry.subarticle_code
        %td= entry.subarticle_name
        %td.number= number_with_delimiter entry.unit_cost
        %td.number= number_with_delimiter entry.total_cost
    %tr
      %td
      %td
      %td
      %th TOTAL
      %th
      %th.number= number_with_delimiter @note_entry.total
    %tr
      %td{colspan: 6}
        - subarticles = @note_entry.entry_subarticles.count == 1
        - supplier = @note_entry.supplier_name
        - delivery_n = @note_entry.note_number(@note_entry.delivery_note_number)
        - delivery_d = @note_entry.note_date(@note_entry.delivery_note_date)
        - invoice_n = @note_entry.note_number(@note_entry.invoice_number)
        - invoice_d = @note_entry.note_date(@note_entry.invoice_date)

        - subarticle = subarticles ? "Compra de #{@note_entry.entry_subarticles.first.subarticle_name}" : ''
        - supplier = "#{',' if subarticles} De #{supplier}" if supplier.present?
        - delivery_date = "del #{delivery_d}" if delivery_d.present?
        - delivery = "#{',' if subarticles || supplier.present?} Según Nota de Entrega #{delivery_n} #{delivery_date}" if delivery_n.present? || delivery_d.present?
        - invoice_date = "del #{invoice_d}" if invoice_d.present?
        - invoice = "#{',' if subarticles || supplier.present? || delivery.present?} Factura #{invoice_n} #{invoice_date}" if invoice_n.present? || invoice_d.present?
        %b Glosa:
        #{subarticle}#{supplier}#{delivery}#{invoice}

- if is_pdf?
  %br
  %br
  %p
    Recibido por #{@note_entry.user_name} ..................................................................... Firma .......................................................
  %p.proceeding-date
    La Paz, #{ I18n.l(@note_entry.note_entry_date.to_date, format: :long) }
