%td.text-center= price.input_quantities
%td.text-center= price.output_quantities
%td.text-center= price.balance_quantities
%td.number= number_with_delimiter price.unit_cost
%td.number= number_with_delimiter price.input_amount
%td.number= number_with_delimiter price.output_amount
%td.number= number_with_delimiter price.balance_amount