- year = @year
- unless is_pdf?
  .page-header
    .pull-right
      = link_to @subarticle, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-arrow-left
        Atrás
      - if @transacciones.length > 0
        = link_to subarticle_kardexes_path(@subarticle, format: :pdf, desde: params[:desde], hasta: params[:hasta]), class: 'btn btn-info' do
          %span.glyphicon.glyphicon-print
          Imprimir
      = link_to subarticles_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list
        Subartículos

    %h3.kardex-inventory
      .title KARDEX DE INVENTARIOS
      .title GESTION #{year}

    #request-urls{data: {'request-id' => request_path('{id}'), 'subarticles-articles' => articles_subarticles_path(format: :json), 'get-subarticles' => get_subarticles_subarticles_path(format: :json, q: '%QUERY'), 'users-id' => user_path('{id}', format: :json)}}
- else
  .row
    .col-sm-12
      %table.kardex-table
        %tbody
          %tr
            %td
            %td
              %h3.title KARDEX DE INVENTARIOS
          %tr
            %td
            %td
              %h3.title GESTIÓN #{year}
          %tr
            %td &nbsp;
            %td &nbsp;
          %tr
            %td.text-right
              %strong DESCRIPCIÓN:
            %td= @subarticle.description.upcase
          %tr
            %td.text-right
              %strong Nº CÓDIGO:
            %td= @subarticle.code

- unless is_pdf?
  %dl.dl-horizontal
    %dt DESCRIPCIÓN:
    %dd= @subarticle.description.upcase
    %dt Nº CÓDIGO:
    %dd= @subarticle.code

%table.table.table-bordered.table-condensed.valorado
  %thead
    %tr.vertical-align.info
      %th.text-center{rowspan: 2} FECHA
      %th.text-center{rowspan: 2} Nº DE FACTURA
      %th.text-center{rowspan: 2} Nº NOTA DE ENTREGA
      %th.text-center{rowspan: 2} Nº DE PEDIDO MAT
      %th.text-center.col-sm-3{rowspan: 2} DETALLE
      %th.text-center{colspan: 3} CANTIDADES
      %th.text-center{rowspan: 2} COSTO UNITARIO
      %th.text-center{colspan: 3} IMPORTES EN BOLIVIANOS
    %tr.info
      %th ENTRADAS
      %th SALIDAS
      %th SALDOS
      %th ENTRADAS
      %th SALIDAS
      %th SALDOS
  %tbody
    = render @transacciones

- if is_pdf?
  %br/
  %br/
  %br/
  %br/
  %table{ style: 'width: 100%' }
    %tr
      %td.text-center
        %p _______________________
        %p ELABORADO POR
      %td.text-center
        %p _______________________
        %p Vº Bº
