%p#notice= notice

%p
  %b Kardex date:
  = @kardex.kardex_date
%p
  %b Invoice number:
  = @kardex.invoice_number
%p
  %b Order number:
  = @kardex.order_number
%p
  %b Detail:
  = @kardex.detail
%p
  %b Subarticle:
  = @kardex.subarticle

= link_to 'Edit', edit_kardex_path(@kardex)
\|
= link_to 'Back', kardexes_path
