%th= Decline.human_attribute_name('asset_code')
%th= Decline.human_attribute_name('account_code')
%th= Decline.human_attribute_name('auxiliary_code')
%th= Decline.human_attribute_name('department_code')
%th= Decline.human_attribute_name('user_code')
%th= Decline.human_attribute_name('description')
%th= Decline.human_attribute_name('reason')
%th= Decline.human_attribute_name('user_id')
