= form_for @decline do |f|
  - if @decline.errors.any?
    #error_explanation
      %h2= "#{pluralize(@decline.errors.count, "error")} prohibited this decline from being saved:"
      %ul
        - @decline.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :asset_code
    = f.text_field :asset_code
  .field
    = f.label :account_code
    = f.text_field :account_code
  .field
    = f.label :auxiliary_code
    = f.text_field :auxiliary_code
  .field
    = f.label :department_code
    = f.text_field :department_code
  .field
    = f.label :user_code
    = f.text_field :user_code
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :reason
    = f.text_field :reason
  .field
    = f.label :user
    = f.text_field :user
  .actions
    = f.submit 'Save'
