%td= user.id
%td= user.code
%td= user.name
%td= user.title
%td= link_to user.department.name, department_path(user.department.id)
%td= type_status(user.status)
%td.td_actions
  = link_to user, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-eye-open
    = t("general.btn.show")
  = link_to edit_user_path(user), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-edit
    = t("general.btn.edit")
  = link_to change_status_user_path(user), class: 'btn btn-warning', remote: true do
    %span.glyphicon.glyphicon-remove
    = title_status(user.status)
