= simple_form_for user, html: { class: 'form-horizontal', id: 'admin-new-user' } do |f|
  = f.input :name, required: true, input_html: { class: 'typeahead' }
  = f.input :username, required: true
  = f.input :role, as: :select, collection: get_i18n_roles, include_blank: false, required: true

  = render 'shared/form_buttons', user: user
