%th.col-md-2= User.human_attribute_name('title')
%th= User.human_attribute_name('ci')
%th= User.human_attribute_name('email')
%th= User.human_attribute_name('username')
%th= User.human_attribute_name('phone')
%th= User.human_attribute_name('mobile')
%th.col-md-2= User.human_attribute_name('department')
%th.col-md-1= t('general.status')
%th.td_actions= t('general.actions')
