%table.table.table-striped.table-condensed
  %thead
    %tr
      %th
      %th= Asset.human_attribute_name('description')
      %th= Asset.human_attribute_name('code')
  %tbody
    - @user.assets.each_with_index do |asset, index|
      %tr
        %td= index + 1
        %td= asset.description
        %td{ style: 'white-space: nowrap;' }
          - if current_user.is_super_admin? || params[:format] == 'pdf'
            = asset.code
          - else
            = link_to asset.code, asset
