%h2.sub-header= t("users.title.title")

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= User.human_attribute_name('id')
      %th= User.human_attribute_name('code')
      %th= User.human_attribute_name('name')
      %th= User.human_attribute_name('title')
      %th= User.human_attribute_name('department')
      %th= t('general.status')
      %th= t('general.actions')

  %tbody
    - @users.each do |user|
      %tr{ id: dom_id(user) }
        = render 'user', user: user
