= link_to "Importar", dbf_users_path

%h1 Listing users

%table
  %tr
    %th Code
    %th Name
    %th Post
    %th Ci
    %th Email
    %th Password
    %th Phone
    %th Cellular
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.code
      %td= user.name
      %td= user.title
      %td= user.ci
      %td= user.email
      %td= user.password
      %td= user.phone
      %td= user.mobile
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
