%h2.sub-header= t("users.title.title")

%table.table.table-striped.table-hover.datatable.display{'data-source' => users_url(format: "json")}
  %thead
    %tr
      %th= User.human_attribute_name('code')
      %th= User.human_attribute_name('name')
      %th= User.human_attribute_name('title')
      %th= User.human_attribute_name('department')
      %th= t('general.status')
      %th= t('general.actions')

  %tbody

