%h2.sub-header= t("users.title.title")

%table.table.table-striped.table-hover.datatable{'data-source' => users_url(format: "json")}
  %thead
    %tr
      %th.col-md-1= User.human_attribute_name('code')
      %th= User.human_attribute_name('name')
      %th= User.human_attribute_name('title')
      %th= User.human_attribute_name('ci')
      %th= User.human_attribute_name('email')
      %th= User.human_attribute_name('username')
      %th= User.human_attribute_name('phone')
      %th= User.human_attribute_name('mobile')
      %th.col-md-2= User.human_attribute_name('department')
      %th.col-md-1= t('general.status')
      %th.col-md-2.td_actions= t('general.actions')

  %tbody
