%h2.sub-header
  = t("users.title.title")
.col-xs-6.button_new
  = link_to new_user_path, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t("users.title.new")

%table.table.table-striped.table-hover.datatable{'data-source' => users_url(format: "json")}
  %thead
    %tr
      %th= User.human_attribute_name('code')
      %th= User.human_attribute_name('name')
      %th= User.human_attribute_name('title')
      %th= User.human_attribute_name('ci')
      %th= User.human_attribute_name('email')
      %th= User.human_attribute_name('username')
      %th= User.human_attribute_name('phone')
      %th= User.human_attribute_name('mobile')
      %th= User.human_attribute_name('department')
      %th= t('general.status')
      %th.td_actions= t('general.actions')

  %tbody
