= currently_at t('users.title.title')

.page-header
  .pull-right
    = link_to edit_user_path(@user), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-edit
      = t("general.btn.edit")
  %h2 Usuario: #{@user.name}

%p
  %b #{User.human_attribute_name('code')}:
  = @user.code
%p
  %b #{User.human_attribute_name('title')}:
  = @user.title
%p
  %b #{User.human_attribute_name('ci')}:
  = @user.ci
%p
  %b #{User.human_attribute_name('email')}:
  = @user.email
%p
  %b #{User.human_attribute_name('username')}:
  = @user.username
%p
  %b #{User.human_attribute_name('phone')}:
  = @user.phone
%p
  %b #{User.human_attribute_name('mobile')}:
  = @user.mobile
%p
  %b #{User.human_attribute_name('department')}:
  = @user.department_name
%p
  %b #{t('general.status')}:
  = type_status(@user.status)
