.page-header{ data: {action: 'historical-current'} }
  .pull-right
    - if current_user.is_admin?
      .btn-group{data: {toggle: 'buttons'}}
        %label.btn.btn-default
          = radio_button_tag 'reports', 'historical', false, data: {url: historical_user_path(@user)}
          %span.glyphicon.glyphicon-list-alt
          Hist贸rico
        %label.btn.btn-default.active
          = radio_button_tag 'reports', 'current', true
          %span.glyphicon.glyphicon-th-list
          Designaci贸n Actual

    = link_to edit_user_path(@user), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-edit
      = t("general.btn.edit")
    - if current_user.is_admin?
      = link_to users_path, class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list
        = t("users.title.title")

  %h2= @user.name

.row
  .col-lg-4.col-md-5.col-sm-12
    %dl.dl-horizontal
      %dt= User.human_attribute_name('code')
      %dd= @user.code
      %dt= User.human_attribute_name('title')
      %dd= @user.title
      %dt= User.human_attribute_name('ci')
      %dd= @user.ci
      %dt= User.human_attribute_name('email')
      %dd= @user.email
      %dt= User.human_attribute_name('username')
      %dd= @user.username
      %dt= User.human_attribute_name('phone')
      %dd= @user.phone
      %dt= User.human_attribute_name('mobile')
      %dd= @user.mobile
      %dt= User.human_attribute_name('department')
      %dd= @user.department_name
      %dt= User.human_attribute_name('role')
      %dd= t("users.roles.#{@user.role}") if @user.role.present?
      %dt= t('general.status')
      %dd= type_status(@user.status)

  - if current_user.is_admin?
    #current-assets.col-lg-8.col-md-7.col-sm-12
      - if @user.assets.present?
        .pull-right
          Descargar:
          .btn-group.btn-group-xs
            = button_tag 'CSV', class: 'download-assets btn btn-default', data: { url: download_user_path(@user, format: :csv) }
            = button_tag 'PDF', class: 'download-assets btn btn-default', data: { url: download_user_path(@user, format: :pdf) }
        %h4 Activos Fijos Asignados

        = render 'user_assets.pdf.haml'
      - else
        .alert.alert-info.alert-dismissable
          %button.close{ type: 'button', 'data-dismiss'=>'alert', 'aria-hidden'=>'true' } &times;
          No tiene activos asignados.

    #historical.col-lg-8.col-md-7.col-sm-12{style: 'display: none;'}

    %script{id: 'tpl-historical-assets', type: 'text/html'}
      {{#assets?}}
      %h4 Hist贸rico Activos Fijos Asignados

      %table.table.table-striped.table-condensed
        %thead
          %tr
            %th
            %th= Asset.human_attribute_name('description')
            %th= Asset.human_attribute_name('code')
        %tbody
          {{#assets}}
          %tr
            %td {{index}}
            %td {{description}}
            %td.nowrap {{code}}
          {{/assets}}
      {{/assets?}}
      {{^assets}}
      .alert.alert-info.alert-dismissable
        %button.close{ type: 'button', 'data-dismiss'=>'alert', 'aria-hidden'=>'true' } &times;
        No tiene hist贸rico de activos que le fueron asignados.
      {{/assets}}
