%script{ id: 'destroy-modal', type: 'text/html' }
  .modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", role: "dialog", tabindex: "-1", id: "modal-{{domId}}"}
    .modal-dialog
      .modal-content
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
          %h4.modal-title {{{title}}}
        .modal-body
          .title_message {{{confirmMessage}}}
          - if controller_name == 'assets'
            = form_tag "{{url}}", class: 'form-horizontal' do
              .form-group
                %label.col-sm-2.control-label= Decline.human_attribute_name('description')
                .col-sm-10
                  = text_area_tag :description, '', class: 'form-control'
              .form-group
                %label.col-sm-2.control-label= Decline.human_attribute_name('motivo')
                .col-sm-10
                  = text_area_tag :reason, '', class: 'form-control'
          {{#entry}}
          = simple_form_for EntrySubarticle.new, url: first_entry_subarticles_path, html: { class: 'form-horizontal' } do |f|
            = f.input :subarticle_id, as: :hidden, input_html: { value: "{{id}}" }
            = f.input :amount, input_html: { value: 0, class: 'amount' }
            = f.input :unit_cost, input_html: { value: 0, class: 'unit_cost' }
            .form-group
              %label.col-sm-3.col-md-3.col-lg-3.control-label Costo Total
              .col-sm-9.col-md-9.col-lg-9
                %p.form-control-static 0
              = f.input :total_cost, as: :hidden, input_html: { value: 0, class: 'total_cost' }
            = f.input :date, as: :string, input_html: { value: I18n.l(Time.now.to_date), class: 'date' }
          {{/entry}}
        .modal-footer
          %button.btn.btn-default{"data-dismiss" => "modal", type: "button"}= t('general.btn.cancel')
          {{#entry}}
          = button_tag t('general.btn.save'), class: 'btn btn-primary', id: 'new_entry'
          {{/entry}}
          {{#unassigned}}
          - if controller_name == 'assets'
            = button_tag t('general.btn.save'), class: 'btn btn-primary deregister'
          - else
            = link_to t('general.btn.save'), "{{url}}", class: 'btn btn-primary change_status', method: :post, remote: true
          {{/unassigned}}
