- case controller_name
- when 'users'
  - new_url = new_user_path
  - table_url = users_url(format: "json")
- when 'departments'
  - new_url = new_department_path
  - table_url = departments_url(format: "json")
- when 'buildings'
  - new_url = new_building_path
  - table_url = buildings_url(format: "json")
- when 'entities'
  - new_url = new_entity_path
  - table_url = entities_url(format: "json")


.page-header
  %h2= t("#{controller_name}.title.title")

.col-xs-6.button_new
  = link_to new_url, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-plus
    = t("#{controller_name}.title.new")
  = link_to '', class: 'btn btn-default' do
    %span.glyphicon.glyphicon-print
    = t("general.print")

%table.table.table-striped.table-hover.datatable{'data-source' => table_url}
  %thead
    %tr
      %th= User.human_attribute_name('code')
      %th{ class: "#{'col-md-2' if controller_name == 'users'}" }= User.human_attribute_name('name')
      = render "#{controller_name}/#{controller_name}"
  %tbody
