.container
  .jumbotron.j_bottom
    %p.lead
      Bienvenidos al sistema de Activos Fijos de ADSIB
      %br
      donde podrá gestionar los activos de su entidad.

  - if minimum_stock.present? && current_user.is_admin_store?
    .page-header
      %h3 Stock Mínimo de Sub Artículos
    - minimum_stock.each do |stock|
      - color = stock.amount <= stock.minimum ? 'bg-danger' : 'bg-warning'
      .message{ class: color }
        %p
          %b #{stock.code} - #{stock.description}
        %p #{stock.amount} / #{stock.minimum}
        = link_to 'Ver »', subarticle_path(stock), class: 'btn btn-default btn-xs'

  = render 'shared/activos'