%h2.sub-header= t("auxiliaries.title.title")

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Auxiliary.human_attribute_name('account')
      %th= Auxiliary.human_attribute_name('code')
      %th= Auxiliary.human_attribute_name('name')
      %th= t('general.actions')

  %tbody
    - @auxiliaries.each do |auxiliary|
      %tr
        %td= link_to_if auxiliary.account, auxiliary.account_code, auxiliary.account, title: auxiliary.account_name, data: { toggle: 'tooltip' }
        %td= auxiliary.code
        %td= auxiliary.name
        %td{style: 'width: 22%;'}
          = link_to [:edit, auxiliary], class: 'btn btn-primary' do
            %span.glyphicon.glyphicon-edit
            = t("general.btn.edit")
          = link_to auxiliary, class: 'btn btn-danger', method: :delete, data: { confirm: t('general.are_you_sure') } do
            %span.glyphicon.glyphicon-remove
            = t("general.btn.destroy")
