.page-header
  .pull-right
    = link_to edit_auxiliary_path(@auxiliary), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-edit
      = t("general.btn.edit")
    = link_to auxiliaries_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list
      = t("auxiliaries.title.title")

  %h2 Auxiliar
%dl.dl-horizontal
  %dt= Auxiliary.human_attribute_name('code')
  %dd= @auxiliary.code
  %dt= Auxiliary.human_attribute_name('name')
  %dd= @auxiliary.name
  %dt= Auxiliary.human_attribute_name('account')
  %dd= link_to_if @auxiliary.account, @auxiliary.account_name, @auxiliary.account, title: @auxiliary.account_code
