%td= link_to_if department.building, department.building_code, department.building, title: department.building_name, data: { toggle: 'tooltip' }
%td= department.code
%td= department.name
%td= type_status(department.status)
%td.td_actions
  = link_to department, class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-eye-open
    = t("general.btn.show")
  = link_to edit_department_path(department), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-edit
    = t("general.btn.edit")
  = link_to change_status_department_path(department), class: 'btn btn-warning', remote: true do
    %span.glyphicon.glyphicon-remove
    = title_status(department.status)
