%h2.sub-header= t("departments.title.title")

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Department.human_attribute_name('id')
      %th= Department.human_attribute_name('code')
      %th= Department.human_attribute_name('name')
      %th= Department.human_attribute_name('building')
      %th= t('general.status')
      %th= t('general.actions')
  %tbody
    - @departments.each do |department|
      %tr{ id: dom_id(department) }
        = render 'department', department: department
