= currently_at t('departments.title.title')

.page-header
  .pull-right
    = link_to edit_department_path(@department), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-edit
      = t("general.btn.edit")
  %h2 Departamento

%p
  %b #{Department.human_attribute_name('code')}:
  = @department.code
%p
  %b #{Department.human_attribute_name('name')}:
  = @department.name
%p
  %b #{Department.human_attribute_name('code')}:
  = @department.status
%p
  %b #{Department.human_attribute_name('building')}:
  = @department.building_name
%p
  %b #{t('general.status')}:
  = type_status(@department.status)
