- cantidad = transaccion.items.length
%tr
  %td.text-center{rowspan: cantidad}
    = l transaccion.fecha.to_date, format: :default
  %td.text-center{rowspan: cantidad}= transaccion.factura
  %td.text-center{rowspan: cantidad}= transaccion.nro_solicitud
  %td{rowspan: cantidad}= transaccion.detalle
  - transaccion.items.each_with_index do |item, index|
    - if index > 0
      %tr= render 'transaccions/items', item: item
    - else
      = render 'transaccions/items', item: item
