%th= Ingreso.human_attribute_name('factura_fecha')
%th= Ingreso.human_attribute_name('numero')
%th= Ingreso.human_attribute_name('suppliers')
%th= Ingreso.human_attribute_name('users')
%th= Ingreso.human_attribute_name('total')
%th= Ingreso.human_attribute_name('nota_entrega_fecha')
