#ingresos-urls{data: {'activos' => ingresos_path, 'proveedores' => get_suppliers_note_entries_path(format: :json, q: '%QUERY')}}

.row{data: {action: 'ingresos'}}
  .col-md-12
    %h3.text-center Ingreso de Activos Fijos

%form#factura-form.form-horizontal{role: 'form'}
  .form-group
    %label.col-sm-2.control-label Proveedor
    .col-sm-3
      = text_field_tag 'proveedor', '', class: 'form-control proveedor-auto', placeholder: 'Proveedor'
    .col-sm-3
      = text_field_tag 'nit', '', class: 'form-control', placeholder: 'NIT proveedor', disabled: true
    .col-sm-3
      = text_field_tag 'telefono', '', class: 'form-control', placeholder: 'Teléfonos proveedor', disabled: true
  .form-group
    %label.col-sm-2.control-label Factura
    .col-sm-3
      = text_field_tag 'factura_numero', '', class: 'form-control', placeholder: 'Número de factura'
    .col-sm-3
      = text_field_tag 'factura_autorizacion', '', class: 'form-control', placeholder: 'Número autorización'
    .col-sm-3
      .input-group
        = text_field_tag 'factura_fecha', '', class: 'form-control date', placeholder: 'Fecha factura'
        .input-group-addon
          %span.glyphicon.glyphicon-calendar
  .form-group
    %label.col-sm-2.control-label Nota de entrega
    .col-sm-3
      = text_field_tag 'nota_entrega_numero', '', class: 'form-control', placeholder: 'Número de nota de entrega'
    .col-sm-3
      .input-group
        = text_field_tag 'nota_entrega_fecha', '', class: 'form-control date', placeholder: 'Fecha nota de entrega'
        .input-group-addon
          %span.glyphicon.glyphicon-calendar
  .form-group
    %label.col-sm-2.control-label C-31
    .col-sm-3
      = text_field_tag 'c31_numero', '', class: 'form-control', placeholder: 'Número C31'
    .col-sm-3
      .input-group
        = text_field_tag 'c31_fecha', '', class: 'form-control date', placeholder: 'Fecha C31'
        .input-group-addon
          %span.glyphicon.glyphicon-calendar

.row
  .col-md-12.col-sm-12
    %form#ingresos-form{role: 'form'}
      .row.has-success
        .col-md-offset-2.col-sm-offset-2.col-xs-offset-2.col-md-6.col-sm-6.col-xs-6
          = text_field_tag :code, '', class: 'form-control input-lg', placeholder: 'Código de Barras de Activos Fijos (ej. 1-10, 12-15, 17, 20, ...)', autofocus: true
        .col-md-3.col-sm-3.col-xs-3
          = button_tag class: 'btn btn-success btn-lg' do
            %span.glyphicon.glyphicon-search
            Buscar

%br/

%table#ingresos-tbl.table.table-bordered.table-striped.table-hover.table-condensed

%table#proveedor-tbl.table.table-bordered.table-striped.table-hover.table-condensed

.row
  .col-md-12.col-sm-12.text-center
    = link_to ingresos_path, class: 'btn btn-danger cancelar-btn' do
      %span.glyphicon.glyphicon-ban-circle
      Cancelar

    = button_tag class: 'btn btn-primary guardar-btn', data: {disable_with: 'Guardando...'} do
      %span.glyphicon.glyphicon-floppy-save
      Guardar

%script{type: 'text/html', id: 'tpl-activo-seleccionado'}
  %thead
    %tr
      %th Código
      %th Descripción
      %th.number Precio Unit.
  %tbody
    {{#activos}}
    %tr
      %td {{barcode}}
      %td {{description}}
      %td.number {{precio_formato}}
    {{/activos}}
  %tfoot
    %tr
      %th
      %th.number TOTAL
      %th.number {{total}}
