%script{ type: 'text/html', id: 'request_buttons' }
  .row
    .text-center
      = button_tag class: 'btn btn-primary', id: "btn_save_request" do
        %span.glyphicon.glyphicon-ok
        Grabar
      = button_tag class: 'btn btn-danger', id: 'btn_cancel_request' do
        %span.glyphicon.glyphicon-ban-circle
        Cancelar

%script{ type: 'text/html', id: 'request_accept' }
  %button#btn-show-request.btn.btn-primary
    %span.glyphicon.glyphicon-ok
    Aceptar

%script{ type: 'text/html', id: 'request_input' }
  %td.col-md-2
    = text_field_tag :amount, '', class: 'form-control input-sm'

%script{ type: 'text/html', id: 'request_barcode' }
  .row
    .col-md-12.col-sm-12
      .asset-code
        .row
          .col-md-offset-2.col-sm-offset-2.col-xs-offset-2.col-md-6.col-sm-6.col-xs-6
            = text_field_tag :code, '', class: 'form-control input-lg', placeholder: 'Código de Barra'
          .col-md-3.col-sm-3.col-xs-3
            = button_tag class: 'btn btn-success col-md-12 btn-lg', id: "btn_send_request" do
              %span.glyphicon.glyphicon-ok
              Entregar
