%h1 Listing requests

%table
  %tr
    %th Admin
    %th User
    %th Material
    %th Amount
    %th
    %th
    %th

  - @requests.each do |request|
    %tr
      %td= request.admin_id
      %td= request.user_id
      %td= request.material_id
      %td= request.amount
      %td= link_to 'Show', request
      %td= link_to 'Edit', edit_request_path(request)
      %td= link_to 'Destroy', request, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Request', new_request_path
