.page-header{data: {action: 'request'}}
  %h2= t("requests.title.new")

#request-urls{data: {'request-id' => request_path('{id}'), 'subarticles-articles' => articles_subarticles_path(format: :json), 'get-subarticles' => get_subarticles_subarticles_path(format: :json, q: '%QUERY'), 'subarticles-verify-amount' => verify_amount_subarticle_path('{id}')}}

#selection_subarticles
  %p.bg-info En la caja de texto busque el Sub Artículo a desear, el cual sera añadido en la tabla una vez seleccionado
  .row{style: "margin-bottom: 15px"}
    .col-xs-12.col-sm-12.col-md-12
      %label.col-xs-12.col-sm-1.col-md-1 Usuario:
      .col-xs-12.col-sm-4.col-md-4
        = select_tag "people", options_from_collection_for_select(@users, "id", "name"), class: "form-control"
  .col-xs-12.col-sm-4.col-md-4
    = text_field_tag :subarticle, '', id: 'subarticle', class: 'form-control input-lg', placeholder: 'Sub Artículo'
  .col-xs-12.col-sm-8.col-md-8{ style: 'margin-bottom: 30px;' }
    %table.table.table-striped
      %thead
        %tr
          %th= Subarticle.human_attribute_name('description')
          %th= Subarticle.human_attribute_name('unit')
          %th Cantidad
          %th.actions-request
      %tbody#subarticles
  .text-center
    %button#btn-show-new-request.btn.btn-primary
      %span.glyphicon.glyphicon-shopping-cart
      Ver Solicitud
#selected_subarticles

= render 'material'
