#assignation-urls{data: {'assets-departments' => departments_assets_path(format: :json), 'assets-users' => users_assets_path(format: :json)}}
#request-urls{data: {'subarticles-articles' => articles_subarticles_path(format: :json), 'subarticles-array' => subarticles_array_subarticles_path(format: :json)}}

.page-header{ data: {action: 'assignation'} }
  %h2 Búsqueda de requerimientos

.row.form-horizontal{ data: {action: 'request'} }
  .col-lg-12.col-md-12.col-sm-12
    = search_form_for @q, url: search_subarticles_requests_path, remote: true do |f|
      .row.form-group
        .col-xs-12.col-sm-4.col-md-4
          = f.select :request_user_department_building_id_eq, options_for_select(get_buildings), {prompt: "--#{t('buildings.title.title')}--"}, {class: 'form-control', id: 'building'}
        .col-xs-12.col-sm-4.col-md-4
          = f.select :request_user_department_id_eq, options_for_select([]), {prompt: "--#{t('departments.title.title')}--"}, {class: 'form-control', id: 'department', disabled: true}
        .col-xs-12.col-sm-4.col-md-4
          = f.select :request_user_id_eq, options_for_select([]), {prompt: "--#{t('users.title.title')}--"}, {class: 'form-control', id: 'user', disabled: true}
        .col-xs-12.col-sm-4.col-md-4
      .row.form-group
        .col-xs-12.col-sm-4.col-md-4
          = f.select :subarticle_article_material_id_eq, options_for_select(get_materials), {prompt: "--#{t('materials.title.title')}--"}, {class: 'form-control', id: 'material'}
        .col-xs-12.col-sm-4.col-md-4
          = f.select :subarticle_article_id_eq, options_for_select([]), {prompt: "--#{t('articles.title.title')}--"}, {class: 'form-control', id: 'article', disabled: true}
        .col-xs-12.col-sm-4.col-md-4
          = f.select :subarticle_id_eq, options_for_select([]), {prompt: "--#{t('subarticles.title.title')}--"}, {class: 'form-control', id: 'subarticle', disabled: true}
      .row.form-group
        .col-xs-12.col-sm-3.col-md-3
          %label.control-label Hoy
          = radio_button_tag :rank, :today, true
        .col-xs-12.col-sm-3.col-md-3
          %label.control-label Semana Actual
          = radio_button_tag :rank, :week
        .col-xs-12.col-sm-3.col-md-3
          %label.control-label Mes Actual
          = radio_button_tag :rank, :month
        .col-xs-12.col-sm-3.col-md-3
          %label.control-label Año Actual
          = radio_button_tag :rank, :year
      .row.form-group
        .col-xs-12.col-sm-1.col-md-1
          %label.control-label Periodo
        .col-xs-12.col-sm-3.col-md-2
          = f.text_field :request_created_at_gteq, class: 'form-control'
        .col-xs-12.col-sm-1.col-md-1
          .control-label{ style: 'text-align: center;' } al
        .col-xs-12.col-sm-3.col-md-2
          = f.text_field :request_created_at_lteq, class: 'form-control'
        .col-xs-12.col-sm-2.col-md-2.col-md-offset-4.col-sm-offset-2
          = f.button class: "btn btn-primary btn-lg" do
            %span.glyphicon.glyphicon-search
            Buscar

    %ul.nav.nav-tabs.selected-assets
      %li.active
        = link_to "#list_r", {"data-toggle" => "tab"} do
          %span.glyphicon.glyphicon-list
          Lista
      %li
        = link_to "#pie_r", {"data-toggle" => "tab"} do
          %span.glyphicon.glyphicon-adjust
          Gráfico en Torta
      %li
        = link_to "#column_r", {"data-toggle" => "tab"} do
          %span.glyphicon.glyphicon-stats
          Gráfico en Columna

    .tab-content
      #list_r.tab-pane.active
        = render 'subarticles_request'
      #pie_r.tab-pane
        = render 'graphic', type: 'pie'
      #column_r.tab-pane
        = render 'graphic', type: 'column'
