#assignation-urls{data: {'admin-assets' => admin_assets_assets_path, 'proceedings' => proceedings_path, 'users-id' => user_path('{id}', format: :json), 'assets-departments' => departments_assets_path(format: :json), 'assets-users' => users_assets_path(format: :json)}}
.page-header
  %h2 Búsqueda avanzada de requerimientos

.row{ data: {action: 'assignation'} }
  .col-lg-12.col-md-12.col-sm-12
    = search_form_for @q, url: search_subarticles_requests_path, remote: true do |f|
      -#.form-group
        -#%label.col-md-2.col-sm-2.control-label Edificio
        -#.col-md-9.col-sm-9
          -#= select_tag :building, options_for_select(get_buildings), class: 'form-control', prompt: '--', autofocus: true
      -#.form-group
        -#%label.col-md-2.col-sm-2.control-label Departamento
        -#.col-md-9.col-sm-9
          -#= select_tag :department, options_for_select([]), class: 'form-control', prompt: '--', disabled: true
      -#.form-group
        -#%label.col-md-2.col-sm-2.control-label Usuario
        -#.col-md-9.col-sm-9
          -#= select_tag :user, options_for_select([]), class: 'form-control', prompt: '--', disabled: true

      = f.select :request_user_department_building_id_eq, options_for_select(get_buildings), include_blank: true#, {prompt: '--'}, {class: 'form-control', id: 'building'}
      = f.select :request_user_department_id_eq, options_from_collection_for_select(Department.all, "id", "name"), include_blank: true #options_for_select([]), {prompt: '--'}, {class: 'form-control', id: 'department', disabled: true}
      = f.select :request_user_id_eq, options_from_collection_for_select(User.all, "id", "name"), include_blank: true#, options_for_select([]), {prompt: '--'}, {class: 'form-control', id: 'user', disabled: true}
      = f.submit "search"
    %table.table.table-hover
      %thead
        %tr
          %th #
          %th Sub Artículo
          %th Cantidad
          %th Ultima fecha
      %tbody#subarticles_request
        = render 'subarticles_request'
