- unless is_pdf?
  .page-header
    .pull-right
      - if @request.status == 'pending'
        = button_tag class: 'btn btn-success', id: 'btn_deliver_request' do
          %span.glyphicon.glyphicon-shopping-cart
          Entregar producto
      - if %w(initiation pending).include?(@request.status)
        = button_tag class: 'btn btn-primary', id: "btn_edit_request" do
          %span.glyphicon.glyphicon-edit
          Editar cantidad
      = link_to requests_path(status: @request.status), class: 'btn btn-default' do
        %span.glyphicon.glyphicon-list
        Solicitudes
    %h2
      Requerimiento Nro.
      %span #{@request.id}

#request.row{ class: "#{'separator' if is_pdf?}" }
  .col-md-12
    %h4
      %span.text-muted Funcionario:
      = @request.user_name
    %h4
      %span.text-muted Cargo:
      = @request.user_title
    %h4
      %span.text-muted Fecha de solicitud:
      = I18n.l(@request.created_at, format: :version)
    - if @request.status == 'delivered'
      %h4
        %span.text-muted Fecha de entrega:
        = I18n.l(@request.delivery_date, format: :version)

    .selected-assets
      #table_request
        %table.table.table-striped.table-condensed
          %thead
            %tr
              %th Código
              %th Unidad
              %th Descripción
              %th Código de barra
              %th Cantidad solicitada
              - if @request.status == 'pending'
                %th Cantidad a entregar
          %tbody
            - @request.subarticle_requests.each do |subarticle|
              %tr{ id: subarticle.id }
                %td= subarticle.subarticle_code
                %td= subarticle.subarticle_unit
                %td= subarticle.subarticle_description
                %td= subarticle.subarticle_barcode
                %td= subarticle.amount
                - if @request.status == 'pending'
                  %td.col-md-2= subarticle.amount_delivered
      #materials

    - if is_pdf?
      %p.proceeding-date.text-right
        La Paz, #{ I18n.l(Time.now.to_date, format: :long) }

      .proceeding-signature
        %table{ style: 'width: 100%' }
          %tr
            %td.text-center
              %p _______________________
              %p Entregué Conforme
            %td.text-center
              %p _______________________
              %p Vo. Bo.
            %td.text-center
              %p _______________________
              %p Recibí Conforme

= render 'material'
