.page-header
  %h1= t("buildings.title.#{params[:action]}")

.col-md-8.column.col-md-offset-1
  = simple_form_for @building, html: { class: 'form-horizontal' } do |f|
    = f.input :code
    = f.input :name
    = f.association :entity, include_blank: false

    = render 'shared/form_buttons'
