%h2.sub-header= t("buildings.title.title")

%table.table.table-striped.table-hover
  %thead
    %tr
      %th= Building.human_attribute_name('entity')
      %th= Building.human_attribute_name('code')
      %th= Building.human_attribute_name('name')
      %th= t('general.actions')
  %tbody
    - @buildings.each do |building|
      %tr
        %td= link_to_if building.entity, building.entity_code, building.entity, title: building.entity_name, data: { toggle: 'tooltip' }
        %td= building.code
        %td= building.name
        %td.td_actions
          = link_to building, class: 'btn btn-primary' do
            %span.glyphicon.glyphicon-eye-open
            = t("general.btn.show")
          = link_to edit_building_path(building), class: 'btn btn-primary' do
            %span.glyphicon.glyphicon-edit
            = t("general.btn.edit")
          = link_to building, class: 'btn btn-danger', method: :delete, data: { confirm: t('general.are_you_sure') } do
            %span.glyphicon.glyphicon-remove
            = t("general.btn.destroy")
