%script{ type: 'text/html', id: 'tpl-pdf-assets' }
  %table.table.table-striped.table-hover.table-condensed
    %thead
      %tr
        %th= check_box_tag 'asset_all', '', false, title: 'Seleccionar todos'
        %th= Asset.human_attribute_name('code')
        %th.col-sm-6= Asset.human_attribute_name('description')
        %th.col-sm-4= Asset.human_attribute_name('user')
    %tbody
      {{#assets}}
      %tr{ id: 'asset_{{id}}' }
        %td= check_box_tag 'assets', '{{code}}', false
        %td {{code}}
        %td {{description}}
        %td {{user_name}}
      {{/assets}}
      {{^assets}}
      %tr
        %td(colspan='4')
          No hay activos para mostrar
      {{/assets}}

  .row
    .action-buttons.col-md-12.col-sm-12.text-center
      = button_tag class: 'btn btn-default', id: 'btn-print' do
        %span.glyphicon.glyphicon-print
        Imprimir
      = link_to root_path, class: 'btn btn-danger' do
        %span.glyphicon.glyphicon-ban-circle
        Cancelar
