#query-assets.row
  .col-lg-offset-1.col-md-offset-2.col-lg-10.col-md-8.col-sm-12
    %h3.col-md-offset-2.col-md-9.text-center
      - if @asset
        Listado de Activos asignados
      - else
        Generar Código de Barras de Activos
    .form-horizontal{ role: 'form' }
      - if !@asset
        .form-group
          %label.col-md-2.col-sm-2.control-label Cuenta
          .col-md-9.col-sm-9
            = select_tag :account, options_for_select(get_accounts(true)), class: 'form-control', prompt: '--', autofocus: true
      - if !@asset && @auxiliary
        .form-group
          %label.col-md-2.col-sm-2.control-label Auxiliar
          .col-md-9.col-sm-9
            = select_tag :auxiliary, options_for_select([]), class: 'form-control', prompt: '--', disabled: true
      - if @asset
        .form-group
          %label.col-md-2.col-sm-2.control-label
          .col-md-6.col-sm-6
            = text_field_tag :sSearch, '', class: 'form-control'
          .col-md-3.col-sm-3
            = select_tag :search_column, options_for_select(Asset.set_columns), class: 'form-control'

  #pdf-assets.col-md-12
    = render 'table' if @asset

.row
  #display-pdf-assets.col-md-offset-1.col-md-10{ style: 'display: none;' }

= render 'pdf_assets_tpl'
= render 'pdf_barcode_tpl'
