.page-header
  %h2= t("assets.title.#{params[:action]}")

.col-sm-9.column.col-sm-offset-1
  = simple_form_for @asset, html: { class: 'form-horizontal' } do |f|
    = f.input :code, required: true, input_html: {autofocus: true}
    = f.input :detalle, required: true, as: :string
    = f.input :medidas
    = f.input :material
    = f.input :color
    = f.input :marca
    = f.input :modelo
    = f.input :serie
    = f.input :precio, placeholder: 'Precio Unitario'
    = f.input :proceso, as: :integer
    = f.input :observaciones, as: :text, placeholder: 'Nro factura, empresa, ...', input_html: {rows: 5}
    = f.input :seguro
    = f.association :auxiliary, collection: status_active(Auxiliary), include_blank: false, required: true
    = f.input :state, collection: Asset::STATE, include_blank: false
    = f.association :user, collection: [@asset.new_record? ? current_user : @asset.user], include_blank: false, disabled: true, readonly: true, required: true

    = render 'shared/form_buttons'
