.title_pdf
  %h3 #{t("assets.title.title")} #{' dados de Baja' if controller_name == 'derecognised'}

%table.table.table-condensed
  %thead
    %tr
      %th.separator.line= Asset.human_attribute_name('code')
      %th= Asset.human_attribute_name('description')
      %th= Asset.human_attribute_name('user')
      - if controller_name == 'derecognised'
        %th Baja
  %tbody
    - @array.each do |asset|
      %tr
        %td= asset.code
        %td= asset.description
        %td= asset.user_name
        - if asset.status == '0'
          %td= asset.derecognised.present? ? I18n.l(asset.derecognised, format: :version) : ''
