.page-header{data: {action: 'recoding'}}
  %h2 Asignación de Código de Barras

#recoding-urls{data: {'recode-id' => asset_path('{id}'), 'recode-autocomplete' => autocomplete_assets_path(format: :json, q: '%QUERY')}}

.row
  .col-sm-offset-2.col-sm-8
    %form.recoding{role: 'form'}
      .row
        .col-sm-offset-2.col-sm-8
          = text_field_tag 'q', '', class: 'form-control input-lg', placeholder: 'Introduce Código o Nombre', autofocus: true

  %br/
  #element-found.col-sm-offset-2.col-sm-8
%script{id: 'tpl-element-found', type: 'text/html'}
  - is_assets = params[:controller] == 'assets'
  %h3.text-center #{ is_assets ? 'Activo' : 'Sub Artículo' } Encontrado
  %table.table.table-bordered
    %tbody
      %tr
        %th.code.col-sm-3 Código
        %td.code {{code}}
      %tr
        %th.barcode Código de Barras
        %td.barcode
          %form{role: 'form'}
            .row
              .col-sm-6
                = text_field_tag 'code', '', class: 'form-control', placeholder: '{{barcode}}'
              .col-sm-6
                = button_tag class: 'btn btn-default' do
                  %span.glyphicon.glyphicon-floppy-save
                  %strong Asignar
                = button_tag class: 'btn btn-default', type: 'reset' do
                  %span.glyphicon.glyphicon-ban-circle.text-danger
                  %span.text-danger Cancelar
      %tr
        %th.description Descripción
        %td.description {{description}}
      - if is_assets
        %tr
          %th.usuario Usuario
          %td.usuario {{user_name}}
