.page-header{ data: {action: 'historical-reviews'} }
  .pull-right
    .historical.btn-group{ data: {toggle: 'buttons'} }
      %label.btn.btn-default
        = radio_button_tag 'options', 'historical'
        %span.glyphicon.glyphicon-list-alt
        Histórico
      %label.btn.btn-default
        = radio_button_tag 'options', 'reviews'
        %span.glyphicon.glyphicon-saved
        Revisiones

    = link_to edit_asset_path(@asset), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-edit
      = t("general.btn.edit")
    = link_to request.referer || assets_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list
      = t("assets.title.title")

  %h2 Activo

%dl.dl-horizontal
  %dt= Asset.human_attribute_name('code')
  %dd= @asset.code
  %dt= Asset.human_attribute_name('description')
  %dd= @asset.description
  %dt= Asset.human_attribute_name('user')
  %dd= link_to_if @asset.user, @asset.user_name, @asset.user, title: @asset.user_code
  %dt= Asset.human_attribute_name('auxiliary')
  %dd= link_to_if @asset.auxiliary, @asset.auxiliary_name, @asset.auxiliary, title: @asset.auxiliary_code
  - if @asset.status == '0'
    %dt= Decline.human_attribute_name('description')
    %dd= @asset.get_decline.description
    %dt= Decline.human_attribute_name('motivo')
    %dd= @asset.get_decline.reason

.row
  .col-sm-12.historical-reviews

  .col-sm-12.text-center.loading{style: 'display:none;'}
    %center
      %h4.page-title
        = image_tag 'loader.gif'
        %p.text-info Espere un momento por favor.

%script{id: 'tpl-assets-historical', type: 'text/html'}
  .page-header
    %h3
      Histórico de usuarios
      %small.text-muted
        Funcionarios a los cuales estuvo asignado el Activo
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Nombre Usuario
        %th Desde
        %th Hasta
    %tbody
      %tr
        %td 1
        %td Pepito de los palotes
        %td 13/04/2011
        %td 14/04/2014
      %tr
        %td 2
        %td Merengano Díaz
        %td 11/03/2012
        %td 01/12/2013

%script{id: 'tpl-assets-reviews', type: 'text/html'}
  .page-header
    %h3
      Revisiones
      %small.text-muted
        Listado de estados del Activo en las revisiones
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Revisión
        %th Fecha
        %th Estado
    %tbody
      %tr
        %td 1
        %td Revisión 2012
        %td 14/12/2013
        %td
          %span.label.label-success Encontrado
      %tr
        %td 2
        %td Revisión 2013
        %td 01/12/2013
        %td
          %span.label.label-warning No encontrado
