.page-header{ data: {action: 'historical-reviews'} }
  .pull-right
    = link_to historical_asset_path(@asset), class: 'btn btn-default historical' do
      %span.glyphicon.glyphicon-list-alt
      Histórico

    = link_to edit_asset_path(@asset), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-edit
      = t("general.btn.edit")
    = link_to request.referer || assets_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list
      = t("assets.title.title")

  %h2 Activo

%dl.dl-horizontal
  %dt= Asset.human_attribute_name('code')
  %dd= @asset.code
  %dt= Asset.human_attribute_name('barcode')
  %dd= @asset.barcode || "<em>No asignado</em>".html_safe
  %dt= Asset.human_attribute_name('description')
  %dd= @asset.description
  %dt= Asset.human_attribute_name('state')
  %dd= @asset.get_state
  %dt= Asset.human_attribute_name('user')
  %dd= link_to_if @asset.user, @asset.user_name, @asset.user, title: @asset.user_code
  %dt= Asset.human_attribute_name('auxiliary')
  %dd= link_to_if @asset.auxiliary, @asset.auxiliary_name, @asset.auxiliary, title: @asset.auxiliary_code
  - if @asset.status == '0'
    %dt= Decline.human_attribute_name('description')
    %dd= @asset.get_decline.description
    %dt= Decline.human_attribute_name('motivo')
    %dd= @asset.get_decline.reason

.row
  .col-sm-12.historical-reviews

  .col-sm-12.text-center.loading{style: 'display:none;'}
    %center
      %h4.page-title
        = image_tag 'loader.gif'
        %p.text-info Espere un momento por favor.

%script{id: 'tpl-assets-historical', type: 'text/html'}
  .page-header
    %h3
      Histórico
      %small.text-muted
        usuarios a los cuales estuvo asignado el Activo
  {{^error}}
  %table.table.table-striped
    %thead
      %tr
        %th
        %th Nombre Usuario
        %th Fecha
        %th Tipo
    %tbody
      {{#proceedings}}
      %tr
        %td {{index}}
        %td
          = link_to "{{user_name}}", "{{user_url}}"
        %td {{created_at}}
        {{^devolution}}
        %td.text-success
          %span.glyphicon.glyphicon-log-out
          Asignación
        {{/devolution}}
        {{#devolution}}
        %td.text-muted
          %span.glyphicon.glyphicon-log-in
          Devolución
        {{/devolution}}
      {{/proceedings}}
  {{/error}}
  {{#error}}
  .alert.alert-danger{role: 'alert'}
    %strong Ocurrió un error
    al desplegar el histórico, vuelva a intentarlo dentro de unos minutos.
  {{/error}}
