#select-user-assets.row
  #select-user.col-md-offset-3.col-md-6.col-sm-6
    %h3.col-md-offset-2.col-md-9.text-center Selección de Usuarios
    %form.form-horizontal{ role: 'form' }
      .form-group
        %label.col-md-2.col-sm-2.control-label Edificio
        .col-md-9.col-sm-9
          = select_tag :building, options_for_select(get_buildings), class: 'form-control', prompt: '--', autofocus: true
      .form-group
        %label.col-md-2.col-sm-2.control-label Departamento
        .col-md-9.col-sm-9
          = select_tag :department, options_for_select([]), class: 'form-control', prompt: '--', disabled: true
      .form-group
        %label.col-md-2.col-sm-2.control-label Usuario
        .col-md-9.col-sm-9
          = select_tag :user, options_for_select([]), class: 'form-control', prompt: '--', disabled: true
      .form-group
        .col-md-offset-2.col-sm-offset-1.col-md-9.col-sm-10.text-center
          .row.text-center
            .col-md-4
              = button_tag class: 'btn btn-default btn-block', id: 'btn_assignation' do
                %span.glyphicon.glyphicon-plus
                Asignación
            .col-md-4
              = button_tag class: 'btn btn-primary btn-block', id: 'btn_devolution' do
                %span.glyphicon.glyphicon-minus
                Devolución
            .col-md-4
              = button_tag class: 'btn btn-danger btn-block', id: 'btn_cancel' do
                %span.glyphicon.glyphicon-ban-circle
                Cancelar

  #assig_devol.col-md-offset-2.col-md-8{ style: 'display: none;' }

#display-user-assets.row{ style: 'display: none;' }

= render 'tpl_assign_devol'
= render 'tpl_fixed_assets'
