- is_request = controller_name == 'requests'

#select-user-assets.row
  #select-user.col-lg-offset-2.col-md-offset-2.col-lg-8.col-md-8.col-sm-12
    %h3.col-md-offset-2.col-md-9.text-center Selección de Usuarios
    %form.form-horizontal{ role: 'form' }
      .form-group
        %label.col-md-2.col-sm-2.control-label Edificio
        .col-md-9.col-sm-9
          = select_tag :building, options_for_select(get_buildings), class: 'form-control', prompt: '--', autofocus: true
      .form-group
        %label.col-md-2.col-sm-2.control-label Departamento
        .col-md-9.col-sm-9
          = select_tag :department, options_for_select([]), class: 'form-control', prompt: '--', disabled: true
      .form-group
        %label.col-md-2.col-sm-2.control-label Usuario
        .col-md-9.col-sm-9
          = select_tag :user, options_for_select([]), class: 'form-control', prompt: '--', disabled: true
      .form-group
        .col-md-offset-2.col-sm-offset-2.col-md-9.col-sm-9.text-center
          .row.text-center
            - unless is_request
              .col-md-4.col-sm-4
                = button_tag class: 'btn btn-default btn-block', id: 'btn_assignation' do
                  %span.glyphicon.glyphicon-plus
                  Asignación
            .col-md-4.col-sm-4
              = button_tag class: 'btn btn-primary btn-block', id: "#{ is_request ? 'btn_request' : 'btn_devolution' }" do
                %span.glyphicon{ class: "glyphicon-#{ is_request ? 'ok' : 'minus' }" }
                = t("#{controller_name}.title.users")
            .col-md-4.col-sm-4{ class: "#{'col-md-offset-4 col-sm-offset-4' if is_request}" }
              = button_tag class: 'btn btn-danger btn-block', id: "#{ is_request ? 'btn_cancel-request' : 'btn_cancel' }" do
                %span.glyphicon.glyphicon-ban-circle
                Cancelar

  #assig_devol.col-md-12{ style: 'display: none;' }

#display-user-assets.row{ style: 'display: none;' }

= render 'assets/tpl_assign_devol'
= render 'assets/tpl_fixed_assets'
= render 'requests/material' if is_request
