%th= t("activerecord.attributes.seguro.numero_contrato")
%th= t("activerecord.attributes.seguro.factura_fecha")
%th= t("activerecord.attributes.seguro.factura_numero")
%th= t("activerecord.attributes.seguro.fecha_inicio_vigencia")
%th= t("activerecord.attributes.seguro.fecha_fin_vigencia")
