%h4 Listado de activos
%table.table.table-striped.table-condensed.table-bordered.alineacion-media
  %thead
    %tr
      %th
      %th.text-center Cuenta
      %th.text-center Cantidad
      %th.text-center Monto
  %tbody
    - if @resumen.present?
      - sumatoria_cantidad = 0
      - @resumen.each_with_index do |cuenta, index|
        %tr
          %td= index + 1
          %td= cuenta.nombre
          %td.number= cuenta.cantidad
          %td.number= cuenta.sumatoria
        - sumatoria_cantidad += cuenta.cantidad
      %tr
        %th
        %th.text-right Total
        %th.number= sumatoria_cantidad
        %th.number= @sumatoria_resumen
