.page-header{ data: {action: 'historical-reviews'} }
  .pull-right
    = link_to edit_seguro_path(@seguro), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-edit
      = t("general.btn.edit")
    = link_to seguros_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list
      = t("seguros.title.title")

  %h2= @seguro.numero_contrato
.row
  .col-lg-4.col-md-5.col-sm-12
    %dl.dl-horizontal
      %dt= t "activerecord.attributes.seguro.suppliers"
      %dd= @seguro.proveedor_nombre
      %dt= t "activerecord.attributes.seguro.factura_numero"
      %dd= @seguro.factura_numero
      %dt= t "activerecord.attributes.seguro.factura_autorizacion"
      %dd= @seguro.factura_autorizacion
      %dt= t "activerecord.attributes.seguro.factura_fecha"
      %dd= l @seguro.factura_fecha, format: :long
      %dt= t "activerecord.attributes.seguro.fecha_inicio_vigencia"
      %dd= l @seguro.fecha_inicio_vigencia, format: :long
      %dt= t "activerecord.attributes.seguro.fecha_fin_vigencia"
      %dd= l @seguro.fecha_fin_vigencia, format: :long
      - if @seguro.vigente?
        %dt= t "seguros.title.nro_dias_expiracion"
        %dd
          #{@seguro.dias_para_expiracion} días
        %dt= t "activerecord.attributes.seguro.estado"
        %dd
          %span.label.label-success
            VIGENTE
      - else
        %dt= t "activerecord.attributes.seguro.estado"
        %dd
          %span.label.label-default
            NO VIGENTE

  .col-lg-8.col-md-7.col-sm-12

    - if @seguro.assets.present?
      = render "activos"
    - else
      .alert.alert-info.alert-dismissable
        %button.close{ type: 'button', 'data-dismiss'=>'alert', 'aria-hidden'=>'true' } &times;
        No tiene activos asegurados.
