%p
  %b User:
  = @proceeding.user_name
%p
  %b Admin:
  = @proceeding.admin_name
%p
  %b Proceeding type:
  = @proceeding.proceeding_type
%p
  %b Date:
  = l @proceeding.created_at, format: :version
%p
  %b Assets:
  %ul
    - @proceeding.assets.each do |asset|
      %li= asset.code
