.row{data: {action: 'derecognised'}}
  .col-md-12
    %h3.text-center Baja de Activos Fijos

  %form#factura-form.form-horizontal{role: 'form'}
    .row
      .form-group
        %label.col-sm-3.control-label Respaldo
        .col-sm-3
          = text_field_tag 'Numero documento', nil, class: 'form-control proveedor-auto', placeholder: 'Numero documento'
        .col-sm-3
          .input-group
            = text_field_tag 'Fecha documento', format_date(nil), class: 'form-control date', placeholder: 'Fecha documento'
            .input-group-addon
              %span.glyphicon.glyphicon-calendar
      .form-group
        %label.col-sm-3.control-label Resumen
        .col-sm-6
          = text_field_tag 'Resumen', nil, class: 'form-control', placeholder: 'Resumen'

  .row
    .col-md-12.col-sm-12
      %form#ingresos-form{role: 'form'}
        .row.has-success
          .col-md-offset-3.col-sm-offset-3.col-xs-offset-3.col-md-6.col-sm-6.col-xs-6
            = text_field_tag :code, '', class: 'form-control input-lg', placeholder: 'Código de Barras de Activos Fijos (ej. 1-10, 3x14, 17, 20, ...)', autofocus: true
          .col-md-3.col-sm-3.col-xs-3
            = button_tag class: 'nuevo-cargar-barcode btn btn-success btn-lg' do
              %span.glyphicon.glyphicon-search
              Buscar
          .col-md-12.col-sm-12
            %hr
%br/

%table#ingresos-tbl.table.table-bordered.table-striped.table-hover.table-condensed

%table#proveedor-tbl.table.table-bordered.table-striped.table-hover.table-condensed

-# TODO aún no está completo la funcionalidad de editar la nota de ingreso
-# de activos fijos
- if action_name != 'edit'
  .row
    .col-md-12.col-sm-12.text-center
      = link_to bajas_path, class: 'btn btn-danger cancelar-btn' do
        %span.glyphicon.glyphicon-ban-circle
        Cancelar

      = button_tag class: 'btn btn-primary guardar-btn', data: {disable_with: 'Guardando...'} do
        %span.glyphicon.glyphicon-floppy-save
        Dar de Baja

#confirm-modal
= render 'ingreso_modal'

%script{type: 'text/html', id: 'tpl-activo-seleccionado'}
  %thead
    %tr
      %th.text-center
        %strong.badge{title: 'Total'} {{cantidad}}
      %th.text-center Código
      %th Descripción
      %th.number Precio Unit.
  %tbody
    {{#activos}}
    %tr
      %td.text-center {{indice}}
      %td.text-center {{barcode}}
      %td {{description}}
      %td.number {{precio_formato}}
    {{/activos}}
  %tfoot
    %tr
      %th{colspan: 2}
      %th.number TOTAL
      %th.number {{total}}
