= form_for @kardex_price do |f|
  - if @kardex_price.errors.any?
    #error_explanation
      %h2= "#{pluralize(@kardex_price.errors.count, "error")} prohibited this kardex_price from being saved:"
      %ul
        - @kardex_price.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :input_quantities
    = f.number_field :input_quantities
  .field
    = f.label :output_quantities
    = f.number_field :output_quantities
  .field
    = f.label :balance_quantities
    = f.number_field :balance_quantities
  .field
    = f.label :unit_cost
    = f.text_field :unit_cost
  .field
    = f.label :input_amount
    = f.text_field :input_amount
  .field
    = f.label :output_amount
    = f.text_field :output_amount
  .field
    = f.label :balance_amount
    = f.text_field :balance_amount
  .field
    = f.label :kardex
    = f.text_field :kardex
  .actions
    = f.submit 'Save'
