%h1 Listing kardex_prices

%table
  %tr
    %th Input quantities
    %th Output quantities
    %th Balance quantities
    %th Unit cost
    %th Input amount
    %th Output amount
    %th Balance amount
    %th Kardex
    %th
    %th
    %th

  - @kardex_prices.each do |kardex_price|
    %tr
      %td= kardex_price.input_quantities
      %td= kardex_price.output_quantities
      %td= kardex_price.balance_quantities
      %td= kardex_price.unit_cost
      %td= kardex_price.input_amount
      %td= kardex_price.output_amount
      %td= kardex_price.balance_amount
      %td= kardex_price.kardex
      %td= link_to 'Show', kardex_price
      %td= link_to 'Edit', edit_kardex_price_path(kardex_price)
      %td= link_to 'Destroy', kardex_price, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Kardex price', new_kardex_price_path
