%p#notice= notice

%p
  %b Input quantities:
  = @kardex_price.input_quantities
%p
  %b Output quantities:
  = @kardex_price.output_quantities
%p
  %b Balance quantities:
  = @kardex_price.balance_quantities
%p
  %b Unit cost:
  = @kardex_price.unit_cost
%p
  %b Input amount:
  = @kardex_price.input_amount
%p
  %b Output amount:
  = @kardex_price.output_amount
%p
  %b Balance amount:
  = @kardex_price.balance_amount
%p
  %b Kardex:
  = @kardex_price.kardex

= link_to 'Edit', edit_kardex_price_path(@kardex_price)
\|
= link_to 'Back', kardex_prices_path
