.title_pdf
  %h3= t("#{controller_name}.title.title")

%table.table.table-condensed
  %thead
    %tr
      %th.separator= Material.human_attribute_name('code')
      %th= Material.human_attribute_name('descripción')
      %th= Auxiliary.human_attribute_name('status')
  %tbody
    - @array.each do |material|
      %tr
        %td= material.code
        %td= material.description
        %td= type_status(material.status)
