#report_subarticle.page-header
  %h3.text-center
    %div INVENTARIO FISICO VALORADO DE ADSIB
    %small LA PAZ, AL 31 DE DICIEMBRE DE 2014

%table.table.table-bordered.table-hover.table-condensed
  %thead
    %tr.vertical-align.info
      %th.text-center{rowspan: "2"} CODIGO
      %th.text-center{rowspan: "2"} DESCRIPCION DE MATERIAL
      %th.text-center{rowspan: "2"} UNIDAD
      %th.text-center{rowspan: "2"} SALDOS AL 31/12/2013
      %th.text-center{colspan: "2"} ENTRADAS
      %th.text-center{colspan: "2"} CANTIDADES
      %th.text-center{rowspan: "2"} COSTO UNITARIO Bs.
      %th.text-center{rowspan: "2"} SALDO Bs. AL 31/12/2014
    %tr.vertical-align.info
      %th.text-center EXIST. ALMAC
      %th.text-center COSTO UNIT.
      %th.text-center SALIDAS EXIST. ALMAC
      %th.text-center SALDOS EXIST. ALMAC
  %tbody
    - total = 0
    - for material in @materials
      %tr
        %th.text-center= material.code
        %th= material.description.upcase
        %td{colspan: 8}
      - for article in @articles
        - if article.material == material
          %tr
            %th.text-center= article.code
            %th
              - description = article.description.downcase
              - description[0] = description[0].capitalize
              = description
            %td{colspan: 8}
          - for subarticle in @subarticles
            - if subarticle.article == article
              - f_kardex = subarticle.final_kardex
              - kp = f_kardex.kardex_prices.length
              %tr
                %td.text-center{rowspan: kp}= subarticle.code
                %td{rowspan: kp}= subarticle.description
                %td{rowspan: kp}= subarticle.unit
                - f_kardex.kardex_prices.each_with_index do |price, index|
                  - total += price.balance_amount
                  - if index > 0
                    %tr
                      %td.number= 1
                      %td.number= price.input_quantities
                      %td.number= number_with_delimiter price.unit_cost
                      %td.number= price.output_quantities
                      %td.number= price.balance_quantities
                      %td.number= number_with_delimiter price.unit_cost
                      %td.number= number_with_delimiter price.balance_amount
                  - else
                    %td.number= 1
                    %td.number= price.input_quantities
                    %td.number= number_with_delimiter price.unit_cost
                    %td.number= price.output_quantities
                    %td.number= price.balance_quantities
                    %td.number= number_with_delimiter price.unit_cost
                    %td.number= number_with_delimiter price.balance_amount
    %tr
      %th{colspan: 2} TOTALES
      %th{colspan: 7}
      %th.number= number_with_delimiter total
