.page-header
  .pull-right
    = link_to edit_material_path(@material), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-edit
      = t("general.btn.edit")
    = link_to materials_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list
      = t("materials.title.title")

  %h2 Material

%dl.dl-horizontal
  %dt= Material.human_attribute_name('code')
  %dd= @material.code
  %dt= Material.human_attribute_name('description')
  %dd= @material.description
  %dt= t('general.status')
  %dd= type_status(@material.status)

%h3 Artículos
%table.table.table-hover
  %thead
    %tr
      %th #
      %th= Article.human_attribute_name('code')
      %th= Article.human_attribute_name('description')
      %th= t('general.status')
  %tbody
    - @material.articles.each_with_index do |article, index|
      %tr
        %td= index + 1
        %td= article.code
        %td= link_to_if article.description, article.description, article
        %td= type_status(article.status)
