.title_pdf
  %h3 Notas de Ingreso de Activos
%table.table.table-condensed.table-bordered.valorado
  %thead
    %tr
      %th Nro
      %th Empresa
      %th Encargado
      %th Factura
      %th Nro Nota de entrega
      %th Fecha
  %tbody
    - @ingresos.each_with_index do |ingreso, i|
      %tr
        %td= i + 1
        %td= @supplier.name
        %td= ingreso.user.name
        %td= ingreso.factura_numero
        %td= ingreso.numero
        %td= I18n.l ingreso.created_at.to_date if ingreso.created_at.present?
