.page-header
  .pull-right
    = link_to edit_supplier_path(@supplier), class: 'btn btn-primary' do
      %span.glyphicon.glyphicon-edit
      = t("general.btn.edit")
    = link_to suppliers_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list
      = t("suppliers.title.title")

  %h2 Proveedor

%dl.dl-horizontal
  %dt= Supplier.human_attribute_name('id')
  %dd= @supplier.id
  %dt= Supplier.human_attribute_name('name')
  %dd= @supplier.name
  %dt= Supplier.human_attribute_name('nit')
  %dd= @supplier.nit
  %dt= Supplier.human_attribute_name('telefono')
  %dd= @supplier.telefono
  %dt= Supplier.human_attribute_name('contacto')
  %dd= @supplier.contacto
  %dt= Supplier.human_attribute_name('created_at')
  %dd= l @supplier.created_at, format: :version
