.navbar-collapse.collapse
  %ul.nav.navbar-nav.navbar-right.right_menu
    %li.dropdown
      = link_to '#', role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', id: 'm_admin' do
        Administración
        %b.caret
      %ul.dropdown-menu{ role: 'menu', 'aria-labelledby' => 'm_admin' }
        - if can? :read, Entity
          %li{ role: 'presentation' }
            = link_to t('entities.title.title'), entities_path, role: 'menuitem'
        - if can? :read, Building
          %li{ role: 'presentation' }
            = link_to t('buildings.title.title'), buildings_path, role: 'menuitem'
        - if can? :read, Department
          %li{ role: 'presentation' }
            = link_to t('departments.title.title'), departments_path, role: 'menuitem'
        - if can? :read, User
          %li{ role: 'presentation' }
            = link_to t('users.title.title'), users_path, role: 'menuitem'
    - if current_user.is_admin?
      %li.dropdown
        = link_to '#', role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', id: 'm_assets' do
          Activos Fijos
          %b.caret
        %ul.dropdown-menu{ role: 'menu', 'aria-labelledby' => 'm_assets' }
          %li{ role: 'presentation' }
            = link_to t('accounts.title.title'), accounts_path, role: 'menuitem'
          %li{ role: 'presentation' }
            = link_to t('auxiliaries.title.title'), auxiliaries_path, role: 'menuitem'
          %li{ role: 'presentation' }
            = link_to t('assets.title.title'), assets_path, role: 'menuitem'
          %li{ role: 'presentation' }
            = link_to 'Bajas', derecognised_assets_path, role: 'menuitem'
    %li.dropdown
      = link_to '#', role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', id: 'm_migration' do
        Migración
        %b.caret
      %ul.dropdown-menu{ role: 'menu', 'aria-labelledby' => 'm_migration' }
        - import_models_user.each_with_index do |model, index|
          %li{ role: 'presentation' }
            = link_to t("#{model}.title.title"), dbf_path(model), role: 'menuitem'
    - if current_user.is_admin?
      %li.dropdown
        = link_to '#', role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', id: 'm_assets_assig' do
          Adm. Activos
          %b.caret
        %ul.dropdown-menu{ role: 'menu', 'aria-labelledby' => 'm_assets_assig' }
          %li{ role: 'presentation' }
            = link_to 'Asignacion/devolución', users_assets_path, role: 'menuitem'
          %li{ role: 'presentation' }
            = link_to 'Actas', proceedings_path, role: 'menuitem'
      %li.dropdown
        = link_to '#', role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', id: 'm_assets_assig' do
          Almacenes
          %b.caret
        %ul.dropdown-menu{ role: 'menu', 'aria-labelledby' => 'm_assets_assig' }
          %li{ role: 'presentation' }
            = link_to 'Materiales', materials_path, role: 'menuitem'
          %li{ role: 'presentation' }
            = link_to 'Artículos', articles_path
          /%li{ role: 'presentation' }
          /  = link_to 'Solicitud de Material', requests_path, role: 'menuitem'
      %li.dropdown
        = link_to '#', role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown', id: 'm_barcode' do
          Código Barras
          %b.caret
        %ul.dropdown-menu{ role: 'menu', 'aria-labelledby' => 'm_barcode' }
          %li{ role: 'presentation' }
            = link_to 'Cuentas', barcodes_path, role: 'menuitem'
          %li{ role: 'presentation' }
            = link_to 'Auxiliares', auxiliary_barcodes_path, role: 'menuitem'
          %li{ role: 'presentation' }
            = link_to 'Activos', asset_barcodes_path, role: 'menuitem'
          %li{ role: 'presentation' }
            = link_to 'Pre Registros', '#', role: 'menuitem'
    - if can? :read, Version
      %li
        = link_to 'Histórico', versions_path
    %li.dropdown
      = link_to '#', role: 'button', class: 'dropdown-toggle', 'data-toggle' => 'dropdown' do
        = current_user.name || current_user.username
        %b.caret
      %ul.dropdown-menu{ role: 'menu', 'aria-labelledby' => 'm_assets' }
        %li
          = link_to 'Información Personal', user_path(current_user)
        %li
          = link_to 'Cambiar Contraseña', dashboard_path
        %li
          = link_to 'Cerrar Sesión', destroy_user_session_path, method: :delete
