- url_list = url_for(controller: type_model, action: 'index')
- url_new = url_for(controller: type_model, action: 'new')
- if %w(users).include?(type_model)
  - url_migration = url_for(controller: type_model, action: 'dbf')

.container-fluid
  .row
    .col-sm-3.col-md-2.sidebar.menu_left
      %ul.nav.nav-sidebar
        = nav_tab t("#{type_model}.title.list"), url_list, current: (action_name == 'index')
        = nav_tab t("#{type_model}.title.new"), url_new, current: (action_name == 'new')
        - if %w(users).include?(type_model)
          = nav_tab t("#{type_model}.title.migration"), url_migration, current: (action_name == 'dbf')
