!!!
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/

    %title NVSIAF
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    .navbar.navbar-inverse.navbar-fixed-top{role: "navigation"}
      .container-fluid
        .navbar-header
          %button.navbar-toggle.collapsed{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", type: "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          = link_to "Sistema de Activos Fijos", root_path, class: 'navbar-brand'
        .navbar-collapse.collapse
          %ul.nav.navbar-nav.navbar-right.right_menu
            %li.active
              = link_to t('entities.title.title'), entities_path
            %li
              = link_to t('buildings.title.title'), buildings_path
            %li
              = link_to t('users.title.title'), users_path
            %li
              %a{href: "#"} Dashboard
            %li
              %a{href: "#"} Settings
            %li
              %a{href: "#"} Profile
            %li
              %a{href: "#"} Help
    = render '/layouts/menu_left', type_model: controller_name
    .col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main.margin-content
      - if notice.present?
        .alert.alert-success
          %button(type="button" class="close" data-dismiss="alert" aria-hidden="true") &times;
          = notice.html_safe
      - if alert.present?
        .alert.alert-danger
          %button(type="button" class="close" data-dismiss="alert" aria-hidden="true") &times;
          = alert.html_safe
      = yield
    = javascript_include_tag "application", "data-turbolinks-track" => true
