.page-header
  .pull-right
    = link_to accounts_path, class: 'btn btn-default' do
      %span.glyphicon.glyphicon-list
      = t("accounts.title.title")

  %h2 Cuenta

%dl.dl-horizontal
  %dt= Account.human_attribute_name('code')
  %dd= @account.code
  %dt= Account.human_attribute_name('name')
  %dd= @account.name
